
   
<!--The content below is only a placeholder and can be replaced.-->
<div class = "title">
<h1 style = "background-color:#E1EFB6">
    Welcome to {{ title }}!
  </h1>
  </div>
  
<div class="pill-nav">
  <a class="active" href="#home" [routerLink] = "['/navbar']"><i class="fa fa-fw fa-home"></i>Home</a>
  
  <div class="dropdown">
      <button class="dropbtn">Location</button>
      <div class="dropdown-content">
        <a href="#" [routerLink] = "['/items']">Bangalore</a>
        <a href="#" [routerLink] = "['/items']">Chennai</a>
        <a href="#" [routerLink] = "['/items']">Mumbai</a>
      </div>
    </div>
  <a href="#contact" [routerLink] = "['/contact']"><i class="fa fa-fw fa-envelope"></i>Contact</a>
  <a href="#about">About</a>
      <a href = "#search" class = "search">
     <input type = "search" name = "search"><i class="fa fa-search"> Search</i></a>
    <a class = "login"  href = "#login" [routerLink] = "['/login']"><i class="fa fa-fw fa-user"></i> Login </a>
 
     <a class = "reg" href = "#register" [routerLink] = "['/register']">Register</a>
     <a href = "#img"><img src = "../assets/images/cart.jpg"class = "img"></a>  
</div>



<router-outlet></router-outlet>
<!-- Copyright -->
<div class = "copyright">
    <p> &copy; Fruible - 2019</p>
  </div>